---
// TODO: наполнить навигацию (логотип, ссылки, CTA) после утверждения архитектуры
---

<header class="border-b border-black/5">
  <div class="mx-auto flex max-w-6xl items-center justify-between px-4 py-4 sm:px-6 lg:px-8">
    <span class="text-lg font-bold">digital.ezi</span>
  </div>
</header>
